{{ name | upper | replace('-', '_') }}_DEBUG=false
{{ name | upper | replace('-', '_') }}_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/{{ name | replace('-', '_') }}
{{ name | upper | replace('-', '_') }}_OTLP_ENABLED=false
{{ name | upper | replace('-', '_') }}_OTLP_ENDPOINT=http://localhost:4317
