replicaCount: 1

image:
  repository: localhost:5001/{{ name | lower }}-{{ frontend_name | lower }}
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  host: {{ frontend_name }}.localhost

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilization: 70

apiUrl: http://api.localhost
