apiVersion: kreator.dev/v1alpha1
kind: Database
metadata:
  name: {{ name }}-db
  namespace: default
spec:
  parameters:
    name: {{ name }}-db
    namespace: default
    size: small
  compositionSelector:
    matchLabels:
      provider: {{ provider }}
