adminUser: admin
adminPassword: admin

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        url: http://loki:3100
        access: proxy
        isDefault: false
      - name: Tempo
        type: tempo
        url: http://tempo:3100
        access: proxy
        isDefault: false
      - name: Mimir
        type: prometheus
        url: http://mimir:9009/prometheus
        access: proxy
        isDefault: true

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: default
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

dashboardsConfigMaps:
  default: {{ name }}-grafana-dashboards

ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - grafana.localhost

persistence:
  enabled: false
