apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-app-secrets
  namespace: default
type: Opaque
stringData:
  DATABASE_URL: "postgresql+asyncpg://postgres:postgres@{{ name }}-db:5432/{{ name }}"
  JWT_SECRET: "{{ jwt_secret }}"
