apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-app-secrets
  namespace: default
type: Opaque
stringData:
  DATABASE_URL: "postgresql://postgres:postgres@{{ name }}-db:5432/{{ name }}"
  JWT_SECRET: "REPLACE_ME_WITH_REAL_SECRET"
