apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: civo-database
  labels:
    crossplane.io/xrd: xdatabases.kreator.dev
    provider: civo
spec:
  compositeTypeRef:
    apiVersion: kreator.dev/v1alpha1
    kind: XDatabase
  resources:
    - name: civo-database
      base:
        apiVersion: database.civo.crossplane.io/v1alpha1
        kind: CivoDatabaseCluster
        spec:
          forProvider:
            name: {{ name }}-db
            region: {{ region }}
            nodes: 1
            size: g3.db.xsmall
            engine: PostgreSQL
          providerConfigRef:
            name: provider-civo
      patches:
        - fromFieldPath: spec.parameters.name
          toFieldPath: spec.forProvider.name
