apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ name }}
  namespace: argocd
spec:
  description: "{{ name }}"
  sourceRepos:
    - '*'
  destinations:
    - namespace: {{ name }}
      server: https://kubernetes.default.svc
    - namespace: argocd
      server: https://kubernetes.default.svc
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
